.node {
  cursor: pointer;

}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
  
}


.node--leaf {
  fill: white;
 
}


.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}


.label,
.node--root,
.node--middle {
  pointer-events: all;
}

  
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: steelblue;
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: steelblue;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.button {
  background-color: steelblue; /* dark blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}